@model string

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MedHoW</h1>
    <p class="lead">
        <strong>Paste your Nightscout link below</strong><br/>
    </p>
    @using (Html.BeginForm("Autotune", "Home"))
    {
        <div class="form-group">
            <div class="input-group input-group-lg">
                <span class="input-group-addon">
                    <i class="fa fa-globe"></i>
                </span>
                <input type="url" class="form-control" id="NSUrl" name="NSUrl" placeholder="https://mynightscout.azurewebsites.net/" style="max-width: 100%" value="@Model" />
                <span class="input-group-btn">
                    <button class="btn btn-success">Go &raquo;</button>
                </span>
            </div>
        </div>

        @Html.ValidationMessage("NSUrl")
    }
</div>
